.opt-py-sounds {width: 2.5rem; text-align-last:center; }
.ipt-py-chars {width: 2.5rem; text-align:center; text-transform:lowercase; }
.blank { width:2.5rem; border: 1px white; color: white; }
.blank:disabled { background: white; opacity: 0; }